.short-header-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.my-h1-hero-supertext {
  font-weight: bold;
}

.news-detail-header-section.my-hero-bgpos-top {
  background-position: top center;
}
