.my-icons-text .my-rounded-rect {
  background-color: #027933;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.my-icons-text .my-rounded-rect i {
  color: white;
  font-size: 60px;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-top: 19px;
}

.my-icons-text .my-col {
  text-align: center;
}

.my-icons-text a {
  text-decoration: none;
}

.my-icons-text .my-text a {
  font-weight: bold;
  margin-top: 4px;
}
